body
  background-color: #000000
  background: url('../img/profile-5.jpg') no-repeat center
  background-size: cover
  font-size: 14px
  line-height: 1.6
  font-family: "Montserrat", sans-serif
  color: $white
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%

  &:before 
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-image: linear-gradient(to bottom right, #844242, #000000)
    opacity: .6 
    